{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel='shortcut icon' type='image/x-icon' href="{% static 'images/favicon.ico' %}">

  <title>Dealer Funnel</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'js/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/dealerminer.css' %}" />

  <!-- Font Icon Packs -->
  <link href="{% static 'css/font-awesome-4.5.0/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/dealerfunnel-icons/flaticon.css' %}" />
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery.gritter/css/jquery.gritter.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery.nanoscroller/nanoscroller.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery.easypiechart/jquery.easy-pie-chart.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.switch/bootstrap-switch.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery.select2/select2.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery.datatables/bootstrap-adapter/css/datatables.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.slider/css/slider.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/intro.js/introjs.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.timepicker/bootstrap-timepicker.min.css' %}" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/showLoading.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery.timeline/css/component.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/jasny-bootstrap.css' %}" />
  
	<link rel="stylesheet" type="text/css" href="{% static 'css/morris.css' %}">
 	<link rel="stylesheet" type="text/css" href="{% static 'js/timepicker-1.3.2/jquery.timepicker.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


</head>
<body class="login-page forgot-page">

<div id="cl-wrapper" class="login-container">

	<div class="login-box forgot-box">
      <div class="header clearfix">              
         <a class="navbar-brand" href="index.html"><strong>Dealer</strong>Funnel</a>
      </div>
				<form class="form-horizontal">
						<h5 class="title text-center"><strong>Forgot your password?</strong></h5>
            <p class="text-center">Don't worry, we'll send you an email to reset your password.</p>
              <div class="content">
              	<div class="login-fields">
								<div class="input-group" style="border:0;">
									<span class="input-group-addon"><i class="icon-envelope"></i></span>
									<input id="email" type="email" name="email" parsley-trigger="change" parsley-error-container="#email-error" required placeholder="Your Email" class="form-control">
								</div>
               
							</div>
							 <div id="email-error" class="login-error"></div>
                <span id="errorid" style="display:none" class="login-error">Email address should not empty</span>
	              <span id="errorid1" style="display:none"  class="login-error">System Could not find this email address</span>
	              <span id="errorid2" style="display:none"  class="login-error">Please check your email.</span>
            </div>
						<div class="foot">
           		<p class="text-center">Don't remember your email? <a href="#">Contact Support</a>.</p>
          		<button onclick="sendrequest()" class="btn btn-block btn-primary" type="button">Reset Password</button>
          	</div>
			  </form>
			</div>
		</div>


  <script src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.showLoading.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.showLoading.min.js' %}"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
function sendrequest()
{
   var email = $('#email').val();
   if(email == "")
   {
      $('#errorid').show();
   }
   else
   {
      $('#errorid').hide();
      $('#cl-wrapper').showLoading();
      $.getJSON('{% url 'json_forgotpassword' %}',{email:email},function(data, status){
       $('#cl-wrapper').hideLoading();
       if(data.isemail == '0')
       {
          $('#errorid1').show();
          
       }
       else
       {
          $('#errorid2').show(); 
       }
           
      });
   }
}
function enterkey(e)
  {
            
    var keyCode = (window.event) ? event.keyCode : e.keyCode;
    if (keyCode == 13) {
      	sendrequest();
    }
  }
  $(document).ready ( function () 
  {
    document.body.onkeypress = enterkey;
  });
</script>
<script src="{% static 'js/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
