{% load humanize %}
{% load static %}
{% load dealerfunnel_filters %}
</style>
</head>
<script>
function ajaxcompare()
       {
          var start_date = $('#start_date').val();
          var end_date   = $('#end_date').val();
          var dealerid   = $('#selectedid').val();
          $('#customer_compare').showLoading(); 
          $.get( "/dashboard/ajax_customer_compare", {start_date:start_date,end_date:end_date,dealerid:dealerid}, function( data ) {
  		    $("#customer_compare").html( data );
  			$('#customer_compare').hideLoading();
		  });
       }
function changechart(mtype)
{
    var dealerid   = $('#selectedid').val();
    $('#customer_compare').showLoading(); 
          $.get( "/dashboard/ajax_chart", {dealerid:dealerid,maptype:mtype}, function( data ) 
          {
  		    $("#chartjs").html( data );
  			$('#chartbutton').removeClass('active');
  			$('#chartbutton2').removeClass('active');
  			$('#chartbutton').addClass('active');
  			$('#customer_compare').hideLoading();
		  });
}       
</script>
<body>
      <div class="page-head">
        <div class="row">
          <div class="col-sm-6">
            <h2>Dashboard</h2>
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Dashboard</li>
            </ol>
            </div>
        </div>
      </div>
		  <div id="date_ajax" class="cl-mcont">

			<div class="row dash-cols">
			
				<div id='chartjs' class="col-sm-6 col-md-6">
					<div  class="block">
						<div class="header no-border">
							<div class="row">
								<div class="col-sm-4">
									<h4 class="title">Dealership Activity</h4>
								</div>
								<div class="col-sm-8">
									<div class="btn-group pull-right">
										<button id='chartbutton' class="btn btn-default btn-sales active" type="button">Sales</button>
										<button id='chartbutton2' class="btn btn-default btn-service" type="button">Service</button>
									</div>
								</div>
							</div>
						</div>

						<div class="chart-area">
							<div>
							<div class="chart-action">
								<div class="btn-group btn-group-xs">
									<a onclick='changechart(1)' href="javascript:void(0)" class="btn btn-default btn-xs {% if local.chart.maptype == 1 %} active {% endif %}">1m</a>
									<a onclick='changechart(2)' href="javascript:void(0)" class="btn btn-default btn-xs {% if local.chart.maptype == 2 %} active {% endif %}">3m</a>
									<a onclick='changechart(3)' href="javascript:void(0)" class="btn btn-default btn-xs {% if local.chart.maptype == 3 %} active {% endif %}">6m</a>
									<a onclick='changechart(4)' href="javascript:void(0)" class="btn btn-default btn-xs {% if local.chart.maptype == 4 %} active {% endif %}">1y</a>
									<a onclick='changechart(5)' href="javascript:void(0)" class="btn btn-default btn-xs {% if local.chart.maptype == 5 %} active {% endif %}">All</a>
								</div>
							</div>
							<div id="sales-chart" style="height:200px;"></div>
							<div id="services-chart" style="height:200px;"></div>
							
							<script type="text/javascript">
	$(document).ready(function () {
		// Sale chart
 		area1 = Morris.Area({
		  element: 'sales-chart',
		  data: [
		    {% for n in local.chart.sales %}
		    	{ y: '{{n.y}}', a: {{n.a}},x:'{{n.x}}'},
		    {% endfor %}
		    
		  ],
		  xkey: 'y',
		  ykeys: ['a'],
		  labels: ['2016', '2015'],
		  xLabelAngle: 90,
		  hoverCallback: function(index, options, content) {
       var data = options.data[index];
				 $(".morris-hover").html('<div>' + data.x + ':'+ data.a + ' Cars Sold ' + '</div>');
	    },
	    hideHover: 'auto',
	    lineWidth: 1,
	    behaveLikeLine: true,
	    lineColors: ['#0066D4','#318FF6',"#565656"],
	    resize: true,
	    parseTime: false,
		});

 		// Services chart
		area3 = Morris.Area({
		  element: 'services-chart',
		  data: [
		    {% for n in local.chart.service %}
		    	{ y: '{{n.y}}', a: {{n.a}},x:'{{n.x}}'},
		    {% endfor %}
		  ],
		  xkey: 'y',
		  ykeys: ['a'],
		  hoverCallback: function(index, options, content) {
       var data = options.data[index];
				 $(".morris-hover").html('<div>' + data.x + ':'+ data.a + ' Service ' + '</div>');
	    },
	    hideHover: 'auto',
	    lineWidth: 1,
	    behaveLikeLine: true,
	    lineColors: ['#0066D4','#318FF6',"#565656"],
	    resize: true,
	    parseTime: false,
		});

		

		// Toggle chart sale service
 		$('#services-chart').hide(); 	
	 	$('.btn-sales').click(function(){
	 		$('#sales-chart').show();
	 		$('#services-chart').hide();
	 		$(this).parents('.btn-group').find('.btn').removeClass('active');
	 		$(this).addClass('active');

	 	});
	 	$('.btn-service').click(function(){
	 		$('#sales-chart').hide();
	 		$('#services-chart').show();
	 		$(this).parents('.btn-group').find('.btn').removeClass('active');
	 		$(this).addClass('active');
	 	})

 		$(window).on('resize', function() { 
 			area1.redraw();
 			area3.redraw();
 		});

 	// Date picker
 	

 	// Show Tooltip
 	$('[data-toggle="tooltip"]').tooltip();
});
</script>
							</div>
						</div>
						
						<div class="content clearfix">
							<div class="stat-data">
								<div class="stat-number media stat-car-sold">
									<i class="stat-icon flaticon-basic-car media-object pull-left"></i> 
									<div class="media-body">
										<span class="stat-title">Cars Sold</span>
										<h2 class="stat-counter">{{ local.activity.totalcar|intcomma }}</h2>
										<span class="stat-avg">Gross Profit: 
										{% if local.activity.grossprofit %}
										${{ local.activity.grossprofit|group }}
										{% endif %}
										</span>
									</div>
								</div>
								<div class="stat-number media stat-repair-order">
									<i class="stat-icon icon-wrench media-object pull-left"></i> 
									<div class="media-body">
										<span class="stat-title">Repair Orders</span>
										<h2 class="stat-counter">{{ local.activity.totalservice|intcomma }}</h2>
										
										<span class="stat-avg">Revenue: 
										{% if local.activity.invoiced %}
										$ {{ local.activity.invoiced|group }}
										{% endif %}
										</span>
										
									</div>
								</div>
							</div>
						</div>
            <div class="ds-stats-boxs">
              <li>
                <span class="number">{{ local.activity.New|intcomma }}</span>
                <span class="desc">New</span>
              </li>
              <li>
                <span class="number">{{ local.activity.Used|intcomma }}</span>
                <span class="desc">Used</span>
              </li>
              <li>
                <span class="number">{{ local.activity.Purchases|intcomma }}</span>
                <span class="desc">Purchases</span>
              </li>
              <li>
                <span class="number">{{ local.activity.Leases|intcomma }}</span>
                <span class="desc">Leases</span>
              </li>
            </div>
					</div>
				</div>	
				
				<div class="col-sm-6 col-md-6">
					<div class="block customer-stat-group">
						<div class="header no-border">
							<h4 class="title">Your Customers</h4>
						</div>
            <div class="content no-padding">
	              
	              <div class="row">
	                
	                <div class="col-sm-3">
	                  <div class="item item-default" data-toggle="tooltip" data-placement="top" title="Total unique customers in your DMS">
	                    <strong>Total</strong>
	                    <span>{{ local.customer_part.status.total|intcomma }}</span>
	                  </div>
	                </div>
	                <div class="col-sm-3">
	                  <div class="item item-active" data-toggle="tooltip" data-placement="top" title="Customers with a transaction in the past 6 months.">
	                    <strong>Active</strong>
	                    <span>{{ local.customer_part.status.active|intcomma }}</span>
	                  </div>
	                </div>
	                <div class="col-sm-3">
	                  <div class="item item-less-active" data-toggle="tooltip" data-placement="top" title="Customers with a transaction in the past 6-12 months">
	                    <strong>Less Active</strong>
	                    <span>{{ local.customer_part.status.lessactive|intcomma }}</span>
	                  </div>
	                </div>
	                <div class="col-sm-3">
	                  <div class="item item-lost" data-toggle="tooltip" data-placement="top" title="Customers without a transaction in the past 12 months">
	                    <strong>Lost</strong>
	                    <span>{{ local.customer_part.status.lost|intcomma }}</span>
	                  </div>
	                </div>
	              </div>

              </div>
              <div class="block-transparent no-margin">
              	<div class="header no-margin"><h4 class="title">Insights</h4></div>
              </div>
              <div id="customer_compare" class="content no-padding-top no-padding-x">
              	<input type='hidden' id='start_date' value='{{ local.customer_part.compare.start_date|date:"m/d/Y" }}'/>
              	<input type='hidden' id='end_date' value='{{ local.customer_part.compare.end_date|date:"m/d/Y" }}'/>
              	<table class="table table-striped table-hover table-stat">
              		<thead class="no-border">
              			<tr>
              				<th></th>
              				<th class="text-center darker">
              					<div class="input-group dp-sm">
              						<input id='startdateforcustomercompare' class="form-control dp" value="{{ local.customer_part.compare.start_date|date:"m/d/Y" }}" data-date-format="mm/dd/yyyy">
              					</div>
              				</th>
              				<th class="text-center">
              					<div class="input-group  dp-sm">
              						<input id='enddateforcustomercompare' class="form-control dp1" value="{{ local.customer_part.compare.end_date|date:"m/d/Y" }}" data-date-format="mm/dd/yyyy">
              					</div>
              				</th>
              				<th colspan="2" class="text-center darker">Change</th>
              			</tr>
              		</thead>
              		<tbody class="no-border-x no-border-y">
              			<tr>
											<td>Total Customers</td>
											<td class="text-center darker">{{ local.customer_part.compare.total.start|intcomma}}</td>
											<td class="text-center">{{ local.customer_part.compare.total.end|intcomma}}</td>
											<td class="text-center darker">{{ local.customer_part.compare.total.change|intcomma}}</td>
											<td class="{{ local.customer_part.compare.total.class}} text-center">{{ local.customer_part.compare.total.per.val|group}}%</td>
										</tr>
										<tr>
											<td>Customers with Sales & Service Transactions</td>
											<td class="text-center darker">{{ local.customer_part.compare.bothroi.start|intcomma}}</td>
											<td class="text-center">{{ local.customer_part.compare.bothroi.end|intcomma}}</td>
											<td class="text-center darker">{{ local.customer_part.compare.bothroi.change|intcomma}}</td>
											<td class="{{ local.customer_part.compare.bothroi.class}} text-center">{{ local.customer_part.compare.bothroi.per.val|group}}%</td>
										</tr>
										<tr>
											<td>Customers with Sales only Transactions</td>
											<td class="text-center darker">{{ local.customer_part.compare.salesonly.start|intcomma}}</td>
											<td class="text-center">{{ local.customer_part.compare.salesonly.end|intcomma}}</td>
											<td class="text-center darker">{{ local.customer_part.compare.salesonly.change|intcomma}}</td>
											<td class="{{ local.customer_part.compare.salesonly.class}} text-center">{{ local.customer_part.compare.salesonly.per.val|group}}%</td>
										</tr>
										<tr>
											<td>Customer with Service only Transactions</td>
											<td class="text-center darker">{{ local.customer_part.compare.serviceonly.start|intcomma}}</td>
											<td class="text-center">{{ local.customer_part.compare.serviceonly.end|intcomma}}</td>
											<td class="text-center darker">{{ local.customer_part.compare.serviceonly.change|intcomma}}</td>
											<td class="{{ local.customer_part.compare.serviceonly.class}} text-center">{{ local.customer_part.compare.serviceonly.per.val|group}}%</td>
										</tr>
										<tr>
											<td>Customers outside Primary Marketing Area</td>
											<td class="text-center darker">{{ local.customer_part.compare.marketout.start|intcomma}}</td>
											<td class="text-center">{{ local.customer_part.compare.marketout.end|intcomma}}</td>
											<td class="text-center darker">{{ local.customer_part.compare.marketout.change|intcomma}}</td>
											<td class="{{ local.customer_part.compare.marketout.class}} text-center">{{ local.customer_part.compare.total.per.val|group}}%</td>
										</tr>


              		</tbody>
              	</table>
              	<script type="text/javascript">
              		$(document).ready(function () {
              		$('.dp').datepicker(
				 	{
				 	   onSelect: function(dateText) {
				         $('#start_date').val(this.value);
				         ajaxcompare()
				       }
				 	}
				 	);
				 	$('.dp1').datepicker(
				 	{
				 	   onSelect: function(dateText) {
				         $('#end_date').val(this.value);
				         ajaxcompare()
				       }
				 	}
				 	);
				 	});	
              	</script>
              </div>

            </div>
				</div>
			</div>
			<div class="block-transparent">
				<div class="header header-with-action">
					<div class="row">
						<div class="col-sm-6">
							<h4 class="title">Your Campaigns</h4>
						</div>
						<div class="col-sm-6 text-right">
							<div id="daterange" class="reportrange">
            			<i class="icon-calender"></i>
            			<span></span> 
            			<b class="caret"></b>
          		</div>
						</div>
					</div>
				</div>
				<div class="row">
				<div class="col-sm-6">
					<div class="block-transparent no-margin">
						
						<div class="content">
              <div class="row stats ds-stats customer-stat-group">
                <div class="col-sm-6">
                  <div class="stat-item block">
                  	<div class="content">
                  	<div class="media">
                  		<div class="media-object pull-left">
                  			<i class="icon-envelope-letter stat-icon"></i>
                  		</div>
                  		<div class="media-body">
			                  	<h4 class="stat-counter">6,481</h4>
                  				<p class="stat-title">Direct Mail</p>
			                  	
                  		</div>
                  	</div>
                  	</div>
                  </div>
                </div>
                <div class="col-sm-6">
                	<div class="stat-item block">
                	<div class="content">
                  	<div class="media">
                  		<div class="media-object pull-left">
                  			<i class="icon-envelope stat-icon"></i>
                  		</div>
                  		<div class="media-body">
		                  	<h4 class="stat-counter">2,254</h4>
                  			<p class="stat-title">Email</p>
		                  	
                  		</div>
                  	</div>
                  </div>
                  </div>
                </div>
              </div>

              <div class="row stats ds-stats customer-stat-group">
                <div class="col-sm-6">
                  <div class="stat-item block">
                  	<div class="content">
                  	<div class="media">
                  		<div class="media-object pull-left">
                  			<i class="stat-icon icon-folder"></i>
                  		</div>
                  		<div class="media-body">
			                  	<h4 class="stat-counter">3</h4>
			                  	<span class="equal">0.00%</span>
                  				<p class="stat-title">Active Campaigns</p>
			                  	
                  		</div>
                  	</div>
                  	</div>
                  </div>
                </div>
                <div class="col-sm-6">
                	<div class="stat-item block">
                	<div class="content">
                  	<div class="media">
                  		<div class="media-object pull-left">
                  			<i class="flaticon-money-badge stat-icon"></i>
                  		</div>
                  		<div class="media-body">
		                  	<h4 class="stat-counter">450%</h4>
		                  	<span class="up"> 6.28%</span>
                  			<p class="stat-title">ROI</p>
		                  	
                  		</div>
                  	</div>
                  </div>
                  </div>
                </div>
              </div>


              <div class="row stats ds-stats customer-stat-group">
                <div class="col-sm-6">
                  <div class="stat-item block no-margin">
                  	<div class="content">
                  	<div class="media">
                  		<div class="media-object pull-left">
                  			<i class="icon-user-follow stat-icon"></i>
                  		</div>
                  		<div class="media-body">
			                  	<h4 class="stat-counter">{{ local.customer.newcustomer }}</h4>
                  				<p class="stat-title">New Customers</p>
			                  	
                  		</div>
                  	</div>
                  	</div>
                  </div>
                </div>
                <div class="col-sm-6">
                	<div class="stat-item block no-margin">
                	<div class="content">
                  	<div class="media">
                  		<div class="media-object pull-left">
                  			<i class="icon-user-following stat-icon"></i>
                  		</div>
                  		<div class="media-body">
		                  	<h4 class="stat-counter">{{ local.customer.savecustomer }}</h4>
                  			<p class="stat-title">Saved Customers</p>
		                  	
                  		</div>
                  	</div>
                  </div>
                  </div>
                </div>
              </div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="block no-margin">
          	<div class="header no-border">
          		<div class="row">
	          		<div class="col-sm-4"><h4 class="title">Responses</h4></div>
            	</div>
          	</div>
          	<div class="content no-padding">
          		<div class="chart-area">
								<div id="lead-chart" style="height:180px;"></div>
							</div>
          	</div>
          	<div class="content">
              <div class="clearfix">
                <div class="ds-stat">
                  <span class="item-type-ico label label-primary"><i class="icon-screen-desktop"></i></span>
                  <span class="ds-stat-number">233</span>
                  <span class="ds-stat-title">Web Leads</span>
                </div>
                <div class="ds-stat">
                  <span class="item-type-ico label label-success"><i class="icon-phone"></i></span>
                  <span class="ds-stat-number">233</span>
                  <span class="ds-stat-title">Phone Calls</span>
                </div>
                <div class="ds-stat">
                  <span class="item-type-ico label label-danger"><i class="icon-clock"></i></span>
                  <span class="ds-stat-number">989</span>
                  <span class="ds-stat-title">Appointments</span>
                </div>
              </div>

            </div>
          </div>
				</div>
			</div>
			</div>

      

      <div class="campaign-dashboard-tbl">
        <div class="block">
          <div class="content">
          	<div class="block-transparent">
      	<div class="row">
        <div class="col-sm-2">
          <div class="butpro butstyle">
            <div class="sub">
	            <h2>Leads</h2>
	            <span id="total_clientes">0</span>
            </div>
            <div class="stat">
            	<span class="</span>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="butpro butstyle">
            <div class="sub"><h2>Cars sold</h2><span></span></div>
            <div class="stat"><span class=""></span></div>
          </div> 
        </div>
        <div class="col-sm-2"> 
          <div class="butpro butstyle">
            <div class="sub"><h2>Gross Profit</h2><span></span></div>
            <div class="stat"><span class="{{local.top.grossprofit.flag}}"> {{local.top.grossprofit.pval|intcomma}}%</span></div>
          </div>  
        </div>

        <div class="col-sm-2"> 
          <div class="butpro butstyle">
            <div class="sub"><h2>Trades</h2><span></span></div>
            <div class="stat"><span class="up"> 35%</span></div>
          </div>  
        </div>

        <div class="col-sm-2">
          <div class="butpro butstyle">
            <div class="sub"><h2>Repair Orders</h2><span></span></div>
            <div class="stat"><span class="{{local.top.service.flag}}"> {{local.top.service.pval|intcomma}}%</span></div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="butpro butstyle">
            <div class="sub"><h2>RO Total</h2><span>$</span></div>
            <div class="stat"><span class="{{local.top.invoiced.flag}}"> {{local.top.invoiced.pval|intcomma}}%</span></div>
          </div>  
        </div>
      </div>
      </div>

          	<div class="row">
            <table class="table table-hover datatable table-striped">
              <thead class="no-border">
                <tr>
                  <th>Campaign</th>
                  <th>Type</th>
                  <th>Mail Pieces</th>
                  <th>Email</th>
                  <th>Leads</th>
                  <th>Cars Sold</th>
                  <th>Gross Profit</th>
                  <th>Repair Orders</th>
                  <th>RO Total</th>
                  <th>ROI</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody class="no-border-x no-border-y">
                {% for n in local.cmp %}
                <tr>
                  <td><a href="/campaign/detail/page/{{local.dealer.keyid}}/{{n.keyid}}">{{n.name}}</a></td>
                  {% if n.type == 1 %}
                          <td>
                            <i class="flaticon-basic-car"></i>
                            
                          </td>
                          {% elif n.type == 2 %}
                          <td>
                            
                            <i class="icon-wrench"></i>
                          </td>
                          {% elif n.type == 3 %}
                          <td>
                            <i class="flaticon-basic-car"></i>
                            <i class="icon-wrench"></i>
                          </td>
                   {% endif %}
                  <td>{{n.totalmail|intcomma}}</td>
                  <td>{{n.totalemail|intcomma}}</td>
                  <td>0</td>
                  <td>{{n.carsales|intcomma}}</td>
                  <td>${{n.carsold|intcomma}}</td>
                  <td>{{n.service|intcomma}}</td>
                  <td>${{n.invoiced|intcomma}}</td>
                  <td></td>
                  <td><span class="label label-active">In Progress</span></td>
                </tr>
                {% endfor %}
                
                
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.datatable').DataTable( {
        initComplete: function () {
          var api = this.api();

          api.columns().indexes().flatten().each( function ( i ) {
            var column = api.column( i );
            var select = $('<select><option value=""></option></select>')
              .appendTo( $(column.footer()).empty() )
              .on( 'change', function () {
                var val = $.fn.dataTable.util.escapeRegex(
                  $(this).val()
                );

                column
                  .search( val ? '^'+val+'$' : '', true, false )
                  .draw();
              } );

            column.data().unique().sort().each( function ( d, j ) {
              select.append( '<option value="'+d+'">'+d+'</option>' )
            } );
          } );
        }
      } );

        //Search input style
      $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search');
      $('.dataTables_length select').addClass('form-control').val('25');  
      //initialize the javascript

    });
  </script>
  
</div>
		</div> 
		
	</div>
	<input type="hidden" id="startdate"/>
	<input type="hidden" id="enddate"/>
</div>
<script type="text/javascript">
function datefilter()
{
	   var startdate = $('#startdate').val();
	   var enddate   = $('#enddate').val();
	   var dealerid  = $('#selectedid').val();
	   $('#date_ajax').showLoading(); 
	   $.get('{% url 'dashboard_datefilter' %}',{ startdate: startdate, enddate: enddate,dealerid:dealerid },function(data, statusasd)
	   {
			$('#date_ajax').html(data);
    		$('#date_ajax').hideLoading();
	   });
		
}
$(document).ready(function() {
    $('.dropdown').on('shown.bs.dropdown', function () {
          // $(".nscroller").nanoScroller();
    });
    $('#daterange').daterangepicker(
       {
          startDate: moment().subtract('days', 29),
          endDate: moment(),
          minDate: '01/01/2013',
          maxDate: '12/31/2016',
          dateLimit: { days: 365 },
          showDropdowns: true,
          showWeekNumbers: true,
          timePicker: false,
          timePickerIncrement: 1,
          timePicker12Hour: true,
          ranges: {
             'Today': [moment(), moment()],
             'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
             'Last 7 Days': [moment().subtract('days', 6), moment()],
             'Last 30 Days': [moment().subtract('days', 29), moment()],
             'This Month': [moment().startOf('month'), moment().endOf('month')],
             'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
             'This Year' : [moment().startOf('year'), moment().endOf('year')],
             'Last Year' : [moment().subtract('year', 1).startOf('year'), moment().subtract('year', 1).endOf('year')],   
          },
          opens: 'right',
          buttonClasses: ['btn'],
          applyClass: 'btn-sm btn-primary',
          cancelClass: 'btn-sm btn-inverse',
          format: 'MM/DD/YYYY',
          separator: ' to ',
          locale: {
              applyLabel: 'Submit',
              fromLabel: 'From',
              toLabel: 'To',
              customRangeLabel: 'Custom Range',
              daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
              monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
              firstDay: 1
          }
       },
       function(start, end) 
       {
        	$('#startdate').val(start.format('YYYY-MM-DD'));
        	$('#enddate').val(end.format('YYYY-MM-DD')); 
        	$('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        	
        	datefilter();
       }
    );
    
    $('#daterange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
    
    
 });

</script>
<script type="text/javascript">
	$(document).ready(function () {
		// Chart Leads Response

 		area2 = Morris.Bar({
 			barGap:4,
  		barSizeRatio:0.55,
		  element: 'lead-chart',
		   data: [
		    { y: '3/22', a: 100, b: 80, c: 60 },
		    { y: '3/24', a: 75,  b: 55, c: 40},
		    { y: '3/25', a: 50,  b: 90, c: 45},
		    { y: '3/26', a: 75,  b: 15, c:66 },
		    { y: '3/27', a: 50,  b: 70, c:50 },
		    { y: '3/28', a: 75,  b: 35, c:62 },
		    { y: '3/29', a: 100, b: 90, c:40 }
		  ],
		  xkey: 'y',
		  ykeys: ['a', 'b', 'c'],
		  labels: ['Web Leads', 'Phone Calls','Appointments'],
	    hideHover: 'auto',
	    behaveLikeLine: true,
	    barColors: ['#298CF9','#0066D4',"#565656"],
	    resize: true
	});

 		 	// Toggle chart sale service
 		

 		$(window).on('resize', function() { 
 			area2.redraw();
 			
 		});

 	// Date picker
 	

 	// Show Tooltip
 	$('[data-toggle="tooltip"]').tooltip();
});
</script>




