{% load humanize %}
{% load static %}
</style>
</head>
<body>
      <div class="page-head">
        <div class="row">
          <div class="col-sm-6">
            <h2>Dashboard</h2>
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Dashboard</li>
            </ol>
            </div>
            <div class="col-sm-6 text-right">
              <div id="daterange" style="display: inline-block; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ddd; border-radius: 4px;">
              <i class="icon-calender"></i>
              <span></span> <b class="caret"></b>
            </div>
          </div>
        </div>
      </div>
		  <div id="date_ajax" class="cl-mcont">

			<div class="row dash-cols">
			
				<div class="col-sm-6 col-md-6">
					<div class="block">
						<div class="header no-border">
							<h4 class="title">Dealership Activity</h4>
						</div>
						<div class="chart-area">
							<div id="activity-chart" style="height:230px;"></div>
						</div>
						
						<div class="content">
							<div class="row">
								<div class="col-sm-4">
									<div class="stat-data bg-primary stat-main">
										<h2 class="stat-title">${{ local.roi.revenue|intcomma }}</h2>
										<span class="stat-avg">Total Revenue</span>
									</div>
								</div>
								<div class="col-sm-8">
									<div class="stat-data">
										<div class="stat-number media stat-car-sold">
											<i class="stat-icon flaticon-basic-car media-object pull-left"></i> 
											<div class="media-body">
												<span class="stat-title">Cars Sold</span>
												<h2 class="stat-counter">{{ local.roi.total_sales|intcomma }}</h2>
												<span class="stat-avg">${{ local.roi.cashprice|intcomma }}</span>
											</div>
										</div>
										<div class="stat-number media stat-repair-order">
											<i class="stat-icon icon-wrench media-object pull-left"></i> 
											<div class="media-body">
												<span class="stat-title">Repair Orders</span>
												<h2 class="stat-counter">{{ local.roi.total_service|intcomma }}</h2>
												<span class="stat-avg">${{ local.roi.roamount|intcomma }}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
            <div class="ds-stats-boxs">
              <li>
                <span class="number">{{ local.roi.new|intcomma }}</span>
                <span class="desc">New</span>
              </li>
              <li>
                <span class="number">{{ local.roi.used|intcomma }}</span>
                <span class="desc">Used</span>
              </li>
              <li>
                <span class="number">{{ local.roi.purchases|intcomma }}</span>
                <span class="desc">Purchases</span>
              </li>
              <li>
                <span class="number">{{ local.roi.leases|intcomma }}</span>
                <span class="desc">Leases</span>
              </li>
            </div>
					</div>
				</div>	
				
				<div class="col-sm-6 col-md-6">
					<div class="block customer-stat-group">
						<div class="header no-border">
							<h4 class="title">Your Customers</h4>
						</div>
            <div class="content no-padding">
              
              <div class="row">
                <!-- <div class="col-sm-8"><div id="ticket-chart" style="height:160px;"></div></div> -->
                <div class="col-sm-3">
                  <div class="item item-active">
                    <strong>Active</strong>
                    <span>{{ local.customer.analysis.active|intcomma }}</span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="item item-less-active">
                    <strong>Less Active</strong>
                    <span>{{ local.customer.analysis.lessactive|intcomma }}</span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="item item-lost">
                    <strong>Lost</strong>
                    <span>{{ local.customer.analysis.lost|intcomma }}</span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="item item-default">
                    <strong>Total</strong>
                    <span>{{ local.customer.analysis.total_customer|intcomma }}</span>
                  </div>
                </div>
              </div>
              </div>
            </div>
              <div class="row stats ds-stats customer-stat-group">
                <div class="col-sm-6">
                  <div class="stat-item block">
                  	<div class="content">
                  	<div class="media">
                  		<div class="media-object pull-left">
                  			<i class="icon-user-follow stat-icon"></i>
                  		</div>
                  		<div class="media-body">
			                  	<h4 class="stat-counter">{{ local.customer.newcustomer }}</h4>
                  				<p class="stat-title">New Customers</p>
			                  	 <!--
			                    {% if local.customer.newcustomer_per.flag == 1 %}
			                     <p class="stat-descr">
			                       <i class="fa fa-caret-up text-primary"></i> {{ local.customer.savecustomer_per.val }}<sub>%</sub> 
			                     </p>
			                     {% endif %}
			                     {% if local.customer.newcustomer_per.flag == 0 %}
			                     <p class="stat-descr">
			                       <i class="fa fa-caret-down text-danger"></i> {{ local.customer.newcustomer_per.val }}<sub>%</sub>
			                     </p>
			                     {% endif %}
			                     {% if local.customer.newcustomer_per.flag == 2 %}
			                     <p class="stat-descr">
			                       {{ local.customer.newcustomer_per.val }}%
			                     </p>
			                     {% endif %}-->
                  		</div>
                  	</div>
                  	</div>
                  </div>
                </div>
                <div class="col-sm-6">
                	<div class="stat-item block">
                	<div class="content">
                  	<div class="media">
                  		<div class="media-object pull-left">
                  			<i class="icon-user-following stat-icon"></i>
                  		</div>
                  		<div class="media-body">
		                  	<h4 class="stat-counter">{{ local.customer.savecustomer }}</h4>
                  			<p class="stat-title">Saved Customers</p>
		                  	 <!--
		                    {% if local.customer.savecustomer_per.flag == 1 %}
			                    <p class="stat-descr">
			                       <i class="fa fa-caret-up text-success"></i> {{ local.customer.savecustomer_per.val }}% 
			                     </p>
			                     {% endif %}
			                     {% if local.customer.savecustomer_per.flag == 0 %}
			                     <p ng-if="savecustomer_per_flag == 0" class="stat-descr">
			                       <i class="fa fa-caret-down text-danger"></i> {{ local.customer.savecustomer_per.val }}% 
			                     </p>
			                     {% endif %}
			                     {% if local.customer.savecustomer_per.flag == 2 %}
			                     <p ng-if="savecustomer_per_flag == 2" class="stat-descr">
			                       {{ local.customer.savecustomer_per.val }}% 
			                     </p>
			                     {% endif %} -->
                  		</div>
                  	</div>
                  </div>
                  </div>
                </div>
              </div>
          <div class="block">
          	<div class="header no-border">
          		<h4 class="title">Leads</h4>
          	</div>
          	<div class="content">
              <div class="clearfix">
                <div class="ds-stat">
                  <span class="item-type-ico label label-primary"><i class="icon-screen-desktop"></i></span>
                  <span class="ds-stat-number">233</span>
                  <span class="ds-stat-title">Web Leads</span>
                </div>
                <div class="ds-stat">
                  <span class="item-type-ico label label-success"><i class="icon-phone"></i></span>
                  <span class="ds-stat-number">233</span>
                  <span class="ds-stat-title">Phone Calls</span>
                </div>
                <div class="ds-stat">
                  <span class="item-type-ico label label-danger"><i class="icon-clock"></i></span>
                  <span class="ds-stat-number">989</span>
                  <span class="ds-stat-title">Appointments</span>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>

      <div class="block-transparent">
      	<div class="row">
        <div class="col-sm-2">
          <div class="butpro butstyle">
            <div class="sub">
	            <h2>Active Campaigns</h2>
	            <span id="total_clientes">{{local.top.cmp.val}}</span>
            </div>
            <div class="stat">
            	<span class="{{local.top.cmp.flag}}">{{local.top.cmp.pval}}%</span>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="butpro butstyle">
            <div class="sub"><h2>Cost</h2><span>${{local.top.cost.val|intcomma}}</span></div>
            <div class="stat"><span class="{{local.top.cost.flag}}"> {{local.top.cost.pval|intcomma}}%</span></div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="butpro butstyle">
            <div class="sub"><h2>Car sold</h2><span>{{local.top.sales.val|intcomma}}</span></div>
            <div class="stat"><span class="{{local.top.sales.flag}}"> {{local.top.sales.pval|intcomma}}%</span></div>
          </div> 
        </div>
        <div class="col-sm-2"> 
          <div class="butpro butstyle">
            <div class="sub"><h2>Gross Profit</h2><span>${{local.top.grossprofit.val|intcomma}}</span></div>
            <div class="stat"><span class="{{local.top.grossprofit.flag}}"> {{local.top.grossprofit.pval|intcomma}}%</span></div>
          </div>  
        </div>
        <div class="col-sm-2">
          <div class="butpro butstyle">
            <div class="sub"><h2>Repair Orders</h2><span>{{local.top.service.val|intcomma}}</span></div>
            <div class="stat"><span class="{{local.top.service.flag}}"> {{local.top.service.pval|intcomma}}%</span></div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="butpro butstyle">
            <div class="sub"><h2>RO Total</h2><span>${{local.top.invoiced.val|intcomma}}</span></div>
            <div class="stat"><span class="{{local.top.invoiced.flag}}"> {{local.top.invoiced.pval|intcomma}}%</span></div>
          </div>  
        </div>
      </div>
      </div>

      <div class="campaign-dashboard-tbl">
        <div class="block">
          <div class="header no-border">
          	<h4 class="title">Active Campaigns</h4>
          </div>
          <div class="content">
          	<div class="row">
            <table class="table table-hover datatable table-striped">
              <thead class="no-border">
                <tr>
                  <th>Campaign</th>
                  <th>Type</th>
                  <th>Mail Pieces</th>
                  <th>Email</th>
                  <th>Leads</th>
                  <th>Cars Sold</th>
                  <th>Gross Profit</th>
                  <th>Repair Orders</th>
                  <th>Total Invoiced</th>
                  <th>Cost</th>
                  <th>Days Active</th>
                </tr>
              </thead>
              <tbody class="no-border-x no-border-y">
                {% for n in local.cmp %}
                <tr>
                  <td><a href="/campaign/detail/page/{{local.dealer.keyid}}/{{n.keyid}}">{{n.name}}</a></td>
                  {% if n.type == 1 %}
                          <td>
                            <i class="flaticon-basic-car"></i>
                            
                          </td>
                          {% elif n.type == 2 %}
                          <td>
                            
                            <i class="fa fa-wrench"></i>
                          </td>
                          {% elif n.type == 3 %}
                          <td>
                            <i class="flaticon-basic-car"></i>
                            <i class="icon-wrench"></i>
                          </td>
                   {% endif %}
                  <td>{{n.totalmail|intcomma}}</td>
                  <td>{{n.totalemail|intcomma}}</td>
                  <td>{{n.lead|intcomma}}</td>
                  <td>{{n.sales|intcomma}}</td>
                  <td>${{n.grossprofit|intcomma}}</td>
                  <td>{{n.service|intcomma}}</td>
                  <td>${{n.invoiced|intcomma}}</td>
                  <td>${{n.totalcost|intcomma}}</td>
                  <td>{{n.delay}}/{{n.tdays}}</td>
                </tr>
                {% endfor %}
                
                
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.datatable').DataTable( {
        initComplete: function () {
          var api = this.api();

          api.columns().indexes().flatten().each( function ( i ) {
            var column = api.column( i );
            var select = $('<select><option value=""></option></select>')
              .appendTo( $(column.footer()).empty() )
              .on( 'change', function () {
                var val = $.fn.dataTable.util.escapeRegex(
                  $(this).val()
                );

                column
                  .search( val ? '^'+val+'$' : '', true, false )
                  .draw();
              } );

            column.data().unique().sort().each( function ( d, j ) {
              select.append( '<option value="'+d+'">'+d+'</option>' )
            } );
          } );
        }
      } );

        //Search input style
      $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search');
      $('.dataTables_length select').addClass('form-control').val('25');  
      //initialize the javascript

    });
  </script>
  
</div>
		</div> 
		
	</div>
	<input type="hidden" id="startdate"/>
	<input type="hidden" id="enddate"/>
</div>
<script type="text/javascript">
function datefilter()
{
	   var startdate = $('#startdate').val();
	   var enddate   = $('#enddate').val();
	   var dealerid  = $('#selectedid').val();
	   $('#date_ajax').showLoading(); 
	   $.get('{% url 'dashboard_datefilter' %}',{ startdate: startdate, enddate: enddate,dealerid:dealerid },function(data, statusasd)
	   {
			$('#date_ajax').html(data);
    		$('#date_ajax').hideLoading();
	   });
		
}
$(document).ready(function() {
    $('.dropdown').on('shown.bs.dropdown', function () {
          $(".nscroller").nanoScroller();
    });
    $('#daterange').daterangepicker(
       {
          startDate: moment().subtract('days', 29),
          endDate: moment(),
          minDate: '01/01/2013',
          maxDate: '12/31/2016',
          dateLimit: { days: 365 },
          showDropdowns: true,
          showWeekNumbers: true,
          timePicker: false,
          timePickerIncrement: 1,
          timePicker12Hour: true,
          ranges: {
             'Today': [moment(), moment()],
             'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
             'Last 7 Days': [moment().subtract('days', 6), moment()],
             'Last 30 Days': [moment().subtract('days', 29), moment()],
             'This Month': [moment().startOf('month'), moment().endOf('month')],
             'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
             'This Year' : [moment().startOf('year'), moment().endOf('year')],
             'Last Year' : [moment().subtract('year', 1).startOf('year'), moment().subtract('year', 1).endOf('year')],   
          },
          opens: 'right',
          buttonClasses: ['btn'],
          applyClass: 'btn-sm btn-primary',
          cancelClass: 'btn-sm btn-inverse',
          format: 'MM/DD/YYYY',
          separator: ' to ',
          locale: {
              applyLabel: 'Submit',
              fromLabel: 'From',
              toLabel: 'To',
              customRangeLabel: 'Custom Range',
              daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
              monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
              firstDay: 1
          }
       },
       function(start, end) 
       {
        	$('#startdate').val(start.format('YYYY-MM-DD'));
        	$('#enddate').val(end.format('YYYY-MM-DD')); 
        	$('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        	
        	datefilter();
       }
    );
    
    $('#daterange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
    
    
 });

</script>


<script type="text/javascript">
	$(document).ready(function () {
 		area1 = Morris.Area({
	  element: 'activity-chart',
	  data: [
	      {period: '2014 Q1', sold: 2666, repair: null},
	      {period: '2014 Q2', sold: 2778, repair: 2294},
	      {period: '2014 Q3', sold: 4912, repair: 1969},
	      {period: '2014 Q4', sold: 13767, repair: 7597},
	      {period: '2015 Q1', sold: 6810, repair: 11914},
	      {period: '2015 Q2', sold: 9670, repair: 6293},
	      {period: '2015 Q3', sold: 4820, repair: 3795},
	      {period: '2015 Q4', sold: 15073, repair: 5967},
	      {period: '2016 Q1', sold: 10687, repair: 4460},
	      {period: '2016 Q2', sold: 8432, repair: 7131}
	    ],
	    xkey: 'period',
	    ykeys: ['sold', 'repair'],
	    labels: ['Cars Sold', 'Repair Orders'],
	    pointSize: 2,
	    hideHover: 'auto',
	    lineWidth: 2,
	    behaveLikeLine: true,
	    lineColors: ['#318FF6','#2671C5',"#565656"],
	    resize: true
	});

 		$(window).on('resize', function() { area1.redraw() });
});

</script>

