{% load humanize %}
<div class="cl-mcont">

      
      <div class="stats_bar row">
        <div class="item-col-6">
          <div class="butpro butstyle">
            <div class="sub"><h2>Total<br><span>Customers</span></h2><span id="total_clientes">{{local.canalysis.total_customer|intcomma}}</span></div>
            
          </div>
        </div>
        <div class="item-col-6">
          <div class="butpro butstyle">
            <div class="sub"><h2>Bought never<br><span>Serviced (BNS)</span></h2><span>{{local.canalysis.bns|intcomma}}</span></div>
            
          </div>
        </div>
        <div class="item-col-6">
          <div class="butpro butstyle">
            <div class="sub"><h2>Serviced never<br><span>Bought (SNB)</span></h2><span>{{local.canalysis.snb|intcomma}}</span></div>
            
          </div> 
        </div>
        <div class="item-col-6"> 
          <div class="butpro butstyle">
            <div class="sub"><h2>bought and<br><span>Serviced (B&amp;S)</span></h2><span>{{local.canalysis.bs|intcomma}}</span></div>
            
          </div>  
        </div>
        <div class="item-col-6">
          <div class="butpro butstyle">
            <div class="sub"><h2>same make<br><span>Conquest</span></h2><span>0</span></div>
            
          </div>
        </div>
        <div class="item-col-6">
          <div class="butpro butstyle">
            <div class="sub"><h2>cross over<br><span>Conquest</span></h2><span>0</span></div>
            
          </div>  
        </div>

      </div>

      <div class="campaign-dashboard-tbl">
      	<div class="row">
          <div class="col-sm-6">
            <h4 class="title">Dealership &amp; Market Breakdown</h4>
          </div>
          <div class="col-sm-6 text-right">
            <div class="btn-group no-margin">
              <button class="btn btn-default" type="button"><i class="fa fa-file-excel-o"></i></button>
              <button class="btn btn-default" type="button"><i class="fa fa-file-pdf-o"></i></button>
              <button class="btn btn-default" type="button"><i class="icon-printer"></i></button>
            </div>
          </div>
        </div>
        <hr style="border: 0">
        <div class="block">
          <div id="pagincontainer" class="clearfix">
            <table class="table table-striped table-hover datatable">
              <thead class="no-border">
                <tr>
                	<th>Zip</th>
                	<th>Radius</th>
                	<th>Customer</th>
                	<th>Location</th>
                	<th>BNS</th>
                	<th>SNB</th>
                	<th>B&S</th>
                	<th>Make Conquest</th>
                	<th>Sales Market Share</th>
                	<th>Service Market Share</th>
                	<th>Crossover Conquest</th>
                 </tr>	
              </thead>
              
            <tbody class="no-border-x no-border-y">
                {% for n in local.market   %}
                <tr class = "{% cycle 'odd' 'even' %}">
                  <td>{{ n.fzipcode.code }}</td>
                  <td>{{ n.radious }}</td>
                  <td>{{ n.customer|intcomma }}</td>
                  <td>{{ n.city }} {{ n.state }}</td>
                  <td>{{ n.bns|intcomma }}</td>
                  <td>{{ n.snb|intcomma }}</td>
                  <td>{{ n.bs|intcomma }}</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
              
                </div>
          </div>
        </div>
      </div>
      
    
      </div>
      <div class="cl-mcont">
        <div class="row">
          <div class="col-sm-6 col-md-6">
          	<h4 class="title">Top 25 Trade-Ins</h4>
            <div class="block">
              
              <div class="table-responsive clearfix sub-datatable">
                  <table class="table table-striped table-hover datatable">
                    <thead class="no-border">
                      <tr role="row">
                      	<th>Vehicle</th>
                      	<th>Total</th>
                      </tr>
                    </thead>
                    
                  <tbody class="no-border-x no-border-y" role="alert" aria-live="polite" aria-relevant="all">
                  {% for n in local.topvehicle %}
                  <tr class="odd">
                        <td class="sorting_1">{{ n.make }} {{ n.model }}</td>
                        <td class=" ">{{ n.count|intcomma }}</td>
                  </tr>
                  {% endfor %}
                  </tbody></table>
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
          	<h4 class="title">Top 25 Zipcodes</h4>
            <div class="block">
                <div class="clearfix">
                  <table class="table table-striped table-hover datatable">
                    <thead class="no-border">
                      <tr>
                      	<th>Zipcode</th>
                      	<th>Location</th>
                      	<th>Total</th></tr>
                    </thead>
                    
                  <tbody class="no-border-x no-border-y">
                  {% for n in local.topzipcode %}
                  <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ n.zip }}</td>
                    <td>{{ n.city }}, {{ n.state }}</td>
                    <td>{{ n.count|intcomma }}</td>
                  </tr>
                  {% endfor %}
                     </tbody></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<script>

function sorting(field)
{
   var cpage = parseInt($('#cpage').val());
   var tpage = parseInt($('#tpage').val());
   var dealerid = $('#selectedid').val();
   var order   = parseInt($('#orderid').val());
   if (order == 0)
   {
      orderid = 1;
   }
   else
   {
      orderid = 0;
   }
   $('#pagincontainer').showLoading(); 
   $.get('/reports/marketanalysis/paginajax/',{dealerid:dealerid,cpage:cpage,tpage:tpage,orderid:orderid,fieldid:field},function(data, status){
   $('#pagincontainer').html(data);
   $('#pagincontainer').hideLoading();
   });
    
}
function pevpagin()
{
   var cpage = parseInt($('#cpage').val());
   var tpage = parseInt($('#tpage').val());
   var dealerid = $('#selectedid').val();
   var fieldid  = $('#fieldid').val();
   var orderid  = $('#orderid').val();
   cpage--;
   if(cpage>0)
   {
      $('#pagincontainer').showLoading(); 
	  $.get('/reports/marketanalysis/paginajax/',{dealerid:dealerid,cpage:cpage,tpage:tpage,orderid:orderid,fieldid:fieldid},function(data, status){
         $('#pagincontainer').html(data);
         $('#pagincontainer').hideLoading();
      });
   }
}
function nexpagin()
{
   var cpage = parseInt($('#cpage').val());
   var tpage = parseInt($('#tpage').val());
   var dealerid = $('#selectedid').val();
   var fieldid  = $('#fieldid').val();
   var orderid  = $('#orderid').val();
   cpage++;
   if(cpage<=tpage)
   {
      $('#pagincontainer').showLoading(); 
	  $.get('/reports/marketanalysis/paginajax/',{dealerid:dealerid,cpage:cpage,tpage:tpage,orderid:orderid,fieldid:fieldid},function(data, status){
         $('#pagincontainer').html(data);
         $('#pagincontainer').hideLoading();
      });
   }
}

</script>      