{% load dealerfunnel_filters %}
{% load humanize %}
<div class="block">
  <div class="header">
  	<div class="datatable-action">
    <select onchange="changeselect();" class="form-control">
      <option value="1" selected>All Customers</option>
      <option value="2">Active</option>
      <option value="3">Less Active</option>
      <option value="4">Lost</option>
      <option value="5">Out Of Market</option>
    </select>
  </div>
 
  <a class="btn btn-default" href="/customer/downloadcsv?dealerid={{local.dealerid}}"><i class="icon-arrow-down-circle"></i> Download CSV</a>
  </div>
  <div class="content">
  	<div class="custom-table-actions row">
    	<div class="col-sm-6">
    		<div class="filter">
    			<form class="form-inline">
    				<label>Showing</label>
    				<select class="form-control">
    					<option>10</option>
    				</select>
    				<label>Results</label>
    			</form>
    		</div>
    	</div>
    	<div class="col-sm-6">
    		<div class="search-form">
    			<form class="form-inline">
    				<input class="form-control" placeholder="Search">
    			</form>
    		</div>
    	</div>
    </div>
  	<div class="row">

    <table id="datatable-tbl" class="table table-hover table-striped">
      <thead class="no-border">
        <tr>
	        <th>Name</th>
	        <th>Cars Sold</th>
	        <th>RO</th>
	        <th>Revenue</th>
	        <th>Last Activity</th>
	        <th>Visits</th>
	        <th class="text-center">Status</th>
        </tr>
      </thead>
      
    	<tbody class="no-border-x no-border-y" role="alert" aria-live="polite" aria-relevant="all">
        {% for c in local.customer %}
        <tr class = "{% cycle 'odd' 'even' %}">
          <td><strong><a href="/customer/profile?cid={{c.keyid}}">{{ c.fname }} {{ c.lname }}</a></strong></td>
          <td>{{ c.sales }}</td>
          <td>{{ c.service }}</td>
          <td>{{ c.carsold }}</td>
          <td><time title="{{ c.lastvisit|date:"Y-m-d" }}" class="timeago">{{ c.lastvisit|date:"Y-m-d" }}</time></td>
          <td>{{ c.visit }}</td>
          <td class="text-center">
          {% if c.status == 1 %}
          <label class="label label-active">Active</label>
          {% elif c.status == 2 %}
          <label class="label label-less-active">Less Active</label>
          {% elif c.status == 3 %}
          <label class="label label-lost">Lost</label>
          {% endif %} 
          </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
        <div class="custom-table-actions row">
        	<div class="col-sm-6"><div class="info">Showing 1 to 10 of 10 entries</div></div>
        	<div class="col-sm-6">
        		<div class="actions-btn">
        			<div class="btn-group btn-group-sm">
        				<a href="#" class="btn btn-default btn-sm">Back</a>
        				<a href="#" class="btn btn-default btn-sm">Next</a>
        			</div>
        		</div>
        	</div>
        </div>
  	</div>
  </div>
</div>
<input type="hidden" id="cpage" value="{{ local.pagin.current_page  }}"/>
<input type="hidden" id="tpage" value="{{ local.pagin.total_page  }}"/>
<input type="hidden" id="mselected" value=""/>


<div class="block">
	<table class="table table-striped table-hover">
		<thead class="no-border">
			<tr>
				<th><h4 class="title">Sale Insights</h4></th>
				<th style="width: 100px">Count</th>
				<th style="width: 100px"></th>
			</tr>
		</thead>
		<tbody class="no-border-x no-border-y">
			<tr>
				<td>Customer who purchased 2-3 years ago</td>
				<td>1,265</td>
				<td></td>
			</tr>
			<tr>
				<td>Customer who purchased 3-4 years ago</td>
				<td>793</td>
				<td></td>
			</tr>
			<tr>
				<td>Customer who purchased 4 years plus</td>
				<td>1,023</td>
				<td></td>
			</tr>
			<tr>
				<td>Customers Sold a Vehicle in the Last 30 Days</td>
				<td>1,265</td>
				<td></td>
			</tr>
			<tr>
				<td>New Customers Sold a Vehicle in the Last 30 Days</td>
				<td>1,265</td>
				<td></td>
			</tr>
			<tr>
				<td><strong>Total with an email</strong></td>
				<td><strong>1,265</strong></td>
				<td><strong>23%</strong></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="block">
	<table class="table table-striped table-hover">
		<thead class="no-border">
			<tr>
				<th><h4 class="title">Service Insights</h4></th>
				<th style="width: 100px">Count</th>
				<th style="width: 100px"></th>
			</tr>
		</thead>
		<tbody class="no-border-x no-border-y">
			<tr>
				<td>Due 3-4 Months</td>
				<td>967</td>
				<td></td>
			</tr>
			<tr>
				<td>Past Due 4-6 Months</td>
				<td>602</td>
				<td></td>
			</tr>
			<tr>
				<td>Lost Soul to Less Active</td>
				<td>1,024</td>
				<td></td>
			</tr>
			<tr>
				<td>Past Due Lost Customer 9-12 Months</td>
				<td>646</td>
				<td></td>
			</tr>
			<tr>
				<td>Past Due Lost Customer 12-18 Months</td>
				<td>1,113</td>
				<td></td>
			</tr>
			<tr>
				<td>Past Due Lost Customer 18-24 Months</td>
				<td>910</td>
				<td></td>
			</tr>
			<tr>
				<td>Past Due Lost Customer 24 Months or More</td>
				<td>4,869</td>
				<td></td>
			</tr>
			<tr>
				<td>Customers Serviced in Last 30 Days</td>
				<td>1,265</td>
				<td></td>
			</tr>
			<tr>
				<td>New Service Customers in Last 30 Days</td>
				<td>1,265</td>
				<td></td>
			</tr>
			<tr>
				<td><strong>Total with an email</strong></td>
				<td><strong>1,265</strong></td>
				<td><strong>23%</strong></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="block">
	<table class="table table-striped table-hover">
		<thead class="no-border">
			<tr>
				<th><h4 class="title">F & I Insights</h4></th>
				<th style="width: 100px">Count</th>
			</tr>
		</thead>
		<tbody class="no-border-x no-border-y">
			<tr>
				<td>Retail Purchase New or Used Without VSC Past 180 Days</td>
				<td>636</td>
			</tr>
			<tr>
				<td>Retail Purchase OEM Warranty Expired Past 6 Months or Will Expire Next 3 Months</td>
				<td>73</td>
			</tr>
			<tr>
				<td>Service Customer Without Purchase - Opportunity for VSC</td>
				<td>6,276</td>
			</tr>
			<tr>
				<td>Retail purchase New or Used with VSC - Opportunity for VSC on Additional Vehicles</td>
				<td>122</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.datatable').dataTable();
		$('.dataTables_filter input').addClass('form-control').attr('placeholder','Search');
    $('.dataTables_length select').addClass('form-control');  
	})
</script>
            